<template>
    <require from="./other.css"></require>
    <require from="./my.scss"></require>
    <div class="${styles.helloWorld}">
        <div class="${styles.welcome}">yo ${message}</div>
        <div class="yo">This div has azure background.</div>
        <div class="other">This div has blue background.</div>
        <button click.trigger="onClick()">Click Me</button>
    </div>
    <button class="button">Secondary Button</button>
    <div class="container">
        container
        <div class="header">
            Header
        </div>
    </div>
</template>